@font-face {
  font-family: 'Public Sans NSW';
  src: url('ttf/PublicSans-Regular.ttf');
}


body {
  background-color: #F6891F;
  font-family: Public Sans NSW;
  margin: 0;
  padding: 0;
}

.background-container {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  z-index: -3;
  display: flex;
  flex-wrap: wrap;
}

.background {
  width: 20vw;
  height: 20vw;
  position: relative;
  opacity: 50%;
  z-index: -2;
}